*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--beat-ui-color-background);
  color: var(--beat-ui-color-text);
}
